.selectingColumn {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  text-align: center;
}

input{
  padding: 10px;
  background-color:#000000 ;
  border: none;
  border-radius: 10px;
  color: #ffffff;
}

button {
  padding: 8px;
  border-radius: 8px;
  margin-top: 20px;
  color: white;
  background-color: rgb(187, 91, 244);
  border: none;
}

.selectedAttribute{
  padding: 0 25px;
  display: flex;
  margin: 15px 25px;
  justify-content: space-between;
  background-color: #1F2127;
  border-radius: 15px;
}

.selectingBox{
  background-color: rgb(25,27,31);
  width: 40%;
  border-radius: 15px;
  height: 550px;
}

.removingAttribute:hover {
  color: rgb(187, 91, 244);
  cursor: pointer;
}